<!DOCTYPE html> 
<html> 
  
<body > 
  
    <h1 align = "center"> 
  Welcome To Mobasery library 
    </h1> 

    <h2>Navigation Pane</h2>
    <table>
        <tr>
           <th><ul>
            <li><a href="home.html">Home Page </a></li>
            <li><a href="books.html">Books </a></li>
        </ul></th> 
       </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
             <th><h2>These are the list of the books available: </h2></th>
            
        </tr>
        <tr>
            <th></th> 
            <th></th> 
           <th></th> 
           
           <th><p><a href="book1.html"><img src="https://embed.cdn.pais.scholastic.com/v1/channels/sso/products/identifiers/isbn/9780590353403/primary/renditions/700" alt="book1" width="200" height="200" align="left"/> </a>&nbsp;<a href="book1.html"> HARRY POTTER AND THE SORCERERS STONE <br><br><br><br><br><br><br><br><br><br><br></a> </p> </th>
        </tr>
        
        <tr>
            <th></th> 
            <th></th>
            <th></th> 
            <th><p><a href="book2.html"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/87/Cursed_Child_new_poster.jpg/220px-Cursed_Child_new_poster.jpg" alt="book2" width="200" height="200" align="left"/> </a>&nbsp;<a href="book2.html"> HARRY POTTER AND THE CURSED CHILD <br><br><br><br><br><br><br><br><br><br><br></a> </p> </th>
        </tr>
        
        <tr>
            <th></th> 
            <th></th>
            <th></th> 
            <th><p><a href="book3.html"><img src="https://m.media-amazon.com/images/P/1408855666.01._SCLZZZZZZZ_SX500_.jpg" alt="book3" width="200" height="200" align="left"/> </a>&nbsp;<a href="book3.html"> HARRY POTTER AND THE CHAMBER OF SECRETS <br><br><br><br><br><br><br><br><br><br><br></a> </p> </th>  
        </tr>
    </table>
       
   
    
    

  
</html>    