<!DOCTYPE html> 
<html> 
  
<body > 
  
    <h1 align = "center"> 
        خوش آمدی To Mobasery library 
    </h1> 

    <h2>Navigation Pane</h2>
    <table>
        <tr>
           <th>    <ul>
            <li><a href="home.html">Home Page </a></li>
            <li><a href="books.html">Books </a></li>
    
        </ul>    </th> 
       </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
             <th><h2 align = "center">HARRY POTTER AND THE CURSED CHILD </h2></th>
            
        </tr>
        <tr>
            <th></th> 
            <th></th> 
           <th></th> 
           
           <th><p><img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/87/Cursed_Child_new_poster.jpg/220px-Cursed_Child_new_poster.jpg" alt="book2" width="500" height="500" align="left"/> &nbsp; <b> HARRY POTTER AND THE CURSED CHILD is the final part of  fantasy series written by british author J.K Rowling .<br><br>Author: JK Rowling<br><br>Publisher: Bloomsbury<br><br>Publication date: 30 july 2016</b> </p></th>
        </tr>
        

    </table>
       
   
    
    

  
</html>    