<!DOCTYPE html> 
<html> 
  
<body > 
  
    <h1 align = "center"> 
        خوش آمدی To Mobasery library 
    </h1> 

    <h2>Navigation Pane</h2>
    <table>
        <tr>
           <th>    <ul>
            <li><a href="home.html">Home Page </a></li>
            <li><a href="books.html">Books </a></li>
    
        </ul>    </th> 
       </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
             <th><h2 align = "center">HARRY POTTER AND THE CHAMBER OF SECRETS </h2></th>
            
        </tr>
        <tr>
            <th></th> 
            <th></th> 
           <th></th> 
           
           <th><p><img src="https://m.media-amazon.com/images/P/1408855666.01._SCLZZZZZZZ_SX500_.jpg" alt="book3" width="500" height="500" align="left"/> &nbsp; <b> HARRY POTTER AND THE CHAMBER OF SECRETS is the second part of  fantasy series written by british author J.K Rowling .<br><br>Author: JK Rowling<br><br>Publisher: Bloomsbury<br><br>Publication date: 2 july 1998</b> </p></th>
        </tr>
        

    </table>
       
   
    
    

  
</html>    